@use '../../assets/styles/vars';

.button-ui {
    width: fit-content;
    font-size: 1.3rem;
    background: white;
    border: 3px solid transparent;
    font-family: inherit;
    box-shadow: 4px 4px white;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bold;
    text-transform: uppercase;

    a {
        color: vars.$black-primary;
        display: inline-block;
        padding: 1rem;
    }

    &__content {
        padding: 1rem;
    }

    &__launch {
        font-size: vars.$h2-font-size;
    }

    &__selected, &:hover {
        background: vars.$black-primary;
        border: 3px solid white;
        color: white;

        a {
            color: white;
        }
    }
}