.settings{

    &__title {
        margin-bottom: 1rem;
        font-size: 2rem    
    }

    &__sub-title {
        margin: 1rem;
        font-size: 1.4rem    
    }

    &__item{
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
    }

    &__error {
        color: red;
        border: 1px solid red;
        padding: 0.5rem;
    }

    &__edit__button{

    }
}

.share__button{
    margin: 0.5rem;
    font-size: 1.2rem;
}
