@mixin media-min($_min-width) {
    @media screen and (min-width: $_min-width) {
        &{ @content; }
    }
  }

.carousel {
    position: relative;

    &__list {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    &__movie {
        display: inline-block;
        width: 100%;
    }

    &__arrow-back {
        position: absolute;
        top: 34%;
    }

    &__arrow-next {
        position: absolute;
        top: 34%;
        right: 1rem;
    }
}