.home-selection {
    position: relative;

    &__list {
        width: calc(100vw - 3rem);
        overflow-x: auto;
        white-space: nowrap;
    }
    
    &__movie {
        display: inline-block;
        width: 100%;
    }
}

