@mixin media-min($_min-width) {
    @media screen and (min-width: $_min-width) {
        &{ @content; }
    }
  }

.homepage {
    text-align: center;
    @include media-min(768px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    &__main {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;


        @include media-min(768px) {
            margin:0;
            text-align: right;
            align-items: flex-end;
        }
        
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        margin-top: 7rem;
    }

    &__subtitle {
        margin-bottom: 1rem;
    }

    &__play-button {
        margin-top: 1rem;
    }
}

#home-carousel {
    @include media-min(768px) {
        width: 30%;
        min-width: 300px;
    }
}