[type="checkbox"]{
    width: 0;
    height: 0;
  }

.toggle-ui {
    cursor: pointer;
    color: white;
    &::before {
        content: '[ ]';
        width: 50px;
        margin-right: .5rem;
    }

    &__checked {
        &::before {
            content: '[x]';
        }
    }
}