@use '../../assets/styles/vars';

@mixin media-min($_min-width) {
    @media screen and (min-width: $_min-width) {
        & {
            @content;
        }
    }
}

.movie-info {
    margin-top: 2rem;

    &__poster {
        border: 3px solid white;
        margin-bottom : .5rem;
        width: 200px;
    }

    &__tags {
        font-size: .8rem;
        font-style: italic;
        margin: 0 auto;
        margin-bottom : 1rem;
        white-space: break-spaces;
        width: 70%;
    }

    &__title {
        font-size: vars.$h2-font-size;
        margin-bottom: .25rem;
        font-weight: bold;
        white-space: break-spaces;
    }

    &__rating {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    &__collection {
        font-style: italic;
        margin-bottom : 1rem;
    }

    &__description {
        font-size: 1.1rem;
        line-height: 1.1rem;
    }
}
