@mixin media-min($_min-width) {
    @media screen and (min-width: $_min-width) {
        & {
            @content;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;

    &__leftmenu {
        font-size: 1.2rem;

        @include media-min(768px) {
            font-size: 2rem;
        }
    }

    &__stby {
        margin-bottom: .5rem;
    }

    &__accountmenu {
        background: white;
        width: 120px;

        a {
            color: #333;
        }

        @include media-min(768px) {
            width: 100%;
        }
    }
    
    &__account-link {
        a {
            word-break: break-word;
        }
    }

    &__title {
        font-size: 2rem;
        display: flex;
        align-items: flex-end;

        @include media-min(768px) {
            font-size: 3rem;
        }
    }
}