.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__question {
        padding: 0.5rem;
    }

    &__answers {
        
        &-item {
            margin: 0.1rem;
        }
    }

    &__next-question {
        align-self: center;
        padding: 0.5rem;
    }
}
