.app {
  display: flex;
  text-transform: uppercase;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  background: #151718;
  color: white;

  &__content {
    margin: auto 0;
    max-width: 600px;
  }
}
