.app {
  display: flex;
  text-transform: uppercase;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  background: #151718;
  color: white;

  &__content {
    margin: auto 0;
    // max-width: 600px;
  }
}

*::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

*::-webkit-scrollbar-track {
  background: #333; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: white; /* color of the scroll thumb */
}
